env
.env.local
.tmp
.strapi
build
dist
node_modules
coverage
exports
logs
*.log
*.sqlite
*.sqlite3
debug-*.log
run-*.log
public/uploads

# Ignore Node/Yarn dependencies
node_modules/
.pnp.*
.yarn/cache/
.yarn/install-state.gz

# Optional but recommended to ignore
build/
dist/
.env
.git/